.reveal pre {
    margin: 0;
}

.monospace {
    font-family: monospace !important;
}

.illustration {
    border: 0px
}

.reveal li {
    margin-bottom: 0.5em;
}

.reveal pre {
    width: 100%;
}

.reveal pre code {
    cursor: pointer;
}

.reveal li pre {
    width: fit-content;
}

.emphasis {
    color: orange;
    font-weight: bold;
}

.logo {
    position: fixed;
    /* Sit on top of the page content */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}